<%= easy_partial 'header' %>

<%= easy_partial 'subhead' %>

<div id="main" class="new-post">

  <form action="/post" method="post" id="new-post">
    <ul>
      <li>
        <label name="i_got">I Got</label>
        <textarea name="i_got" id="igot"><%= params['i_got'] || @post.i_got %></textarea>
        <div class="comment">Example: I've got more tomatoes and rhubarb than I can eat.</div>
      </li>
      <li>  
        <label name="u_got">You Got</label>
        <textarea name="u_got" id="ugot"><%= params['u_got'] || @post.i_got %></textarea>
        <div class="comment">Example: If you've got spinach we've got a deal!</div>
      </li>
      <li>  
        <label name="contact">How do you want people to contact you?</label>
        <textarea name="contact" id="contact"><%= params['contact'] || @post.contact_method %></textarea>
        <div class="comment">Example: Please email me at boom@example.com or give me a call at work: 555-555-5555.</div>
      </li>
      <li>
        <label name="email">Email</label>
        <input type="text" name="email" id="email" value="<%= params['email'] || @post.email || @user.email %>" placeholder="example@example.com"></input>
        <div class="comment">Don't worry, we won't share your email with anyone. We only need it so you can manage your listing.</div>
      </li>
      <li>
        <% if @editing %>
          <button type='submit'>Update</button>
          <form action="/post/<%= @post.secret_id %>/delete" method="POST">
            <button name="delete">delete</button>            
          </form>
        <% else %>
          <button type='submit'>Add</button>
        <% end %>
      </li>
    </ul>
  </form>  
  
  
</div>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#new-post").submit(function(){
      var igot = $("#igot").val();
      var ugot = $("#ugot").val();
      var contact = $("#contact").val();
      var email = $("#email").val();

      if ( igot == '' || ugot == '' || contact == '' || email == '' ){
        alert('all fields are required');
        return false;
      }
    });
  });
</script>

<%= easy_partial 'footer' %>
