<%= easy_partial 'header' %>

<%= easy_partial 'subhead' %>
  <div id="search"><input type="text" id="searchbox"></input><div> 
  <div id="main" class="posts">
    <% if @posts.empty? %>
    <div id="sadness">
      <h3>There are no listings within 100 miles of <%= @user.postal_code %> yet.</h3>
      <a href="/post/new" class="button">Be the first to add a listing in your hood!</a>
      <h4>OR</h4>
      <a href="/posts/latest" class="button">View the latest listings from everywhere.</a>
      
    </div>
    <% end %>
    
    <ul>
      <% @posts.each do |post| %> 
       <li class="post">
          <% if post.user == @user %>
            <div class="useritem"></div>
          <% end %>

          <h5>I Got</h5> 
          <div class="mine"><%=h post.i_got%></div>
          <h5>You Got</h5>  
          <div class="yours"><%=h post.u_got%></div>
          <h5>Get in Touch</h5>
          <div class="contact"><%=h post.contact_method%></div>
          
        <div id="tags">
          <ul>
          <% post.tags.each do |tag| %>
            <li><a href="/posts/nearby/tagged/<%= tag.name %>" class="tag-link"><%= tag.name %></a></li>
          <%end%>
          </ul>
        </div> 
         <fb:like href="http://<%= request.host_with_port %>/post/<%= post.id %>" send="false" layout="button_count" width="182" show_faces="false" font=""></fb:like>
         <a href="/post/<%= post.id %>" class="post-link">&rarr;</a>
       </li>
      <% end %>
    </ul>
  </div>

  
<%= easy_partial 'footer' %>