<%= easy_partial 'header' %>

<%= easy_partial 'subhead' %>

  <div id="main" class="posts">
    <ul>
      <% @posts.each do |post| %> 
       <li class="post">
        <a href="/post/<%= post.id %>">
         <fb:like href="http://127.0.0.1:9393/post/<%= post.id %>" send="false" layout="button_count" width="450" show_faces="false" font=""></fb:like>
          <h5>I Got</h5> 
          <div class="mine"><%=h post.i_got%> </div>
          <h5>You Got</h5>  
          <div class="yours"><%=h post.u_got%> </div>
          <div id="tags">
            <ul>
            <% post.tags.each do |tag| %>
              <li><%= tag.name %></li>
            <%end%>
            </ul>
          </div> 
          <% if post.user == @user %>
           <a href="/post/<%= post.secret_id %>/edit"> edit </a>
          <% end %>

        </a>
       </li>
      <% end %>  
    </ul>
  </div>
  
<%= easy_partial 'footer' %>