
<%= easy_partial 'header' %>
  <div id="main" class="posts">
    <a href="/posts/new">new</a>
     <div class="post">
      <div id="tags">
        <ul>
        <% @post.tags.each do |tag| %>
          <li><%= tag.name %></li>
        <%end%>

        </ul>
        <form id="new_tag"><input type="text" id='tag'></input></form>
      </div> 
      <h3>I got:</h3> 
      <div class="mine"><%=  @post.i_got%> </div>
      <h3>U got:</h3>  
      <div class="yours"><%=  @post.u_got%> </div>
     </div>

  </div>

  <script>
    $(function() {
      $("#new_tag").submit(function(e){
        var tag  = $("#tag").val();        
        $.post("/tag/<%= @post.id %>/as/"+ tag, 
        function(data){
          //success
          console.log(data)
          if (data != "") {
            $('#tags ul').append("<li>"+ data+"</li>")
          }
        })
        e.preventDefault()
        return false;
      });
    });
  </script>
  
<%= easy_partial 'footer' %>