<%= easy_partial 'header' %>

<%= easy_partial 'subhead' %>

  <div id="main" class="single-post">
    <% if @post.user == @user %>
     <a href="/post/<%= @post.secret_id %>/edit" id="edit-link"> edit your listing </a>
    <% end %>
    <h5>I Got</h5> 
    <div class="mine"><%= h(@post.i_got)%> </div>
    <h5>You Got</h5>  
    <div class="yours"><%= h(@post.u_got)%> </div>
    <h5>Contact</h5>
    <%= h(@post.contact_method) %>
    <div id="tags">
      <ul>
      <% @post.tags.each do |tag| %>
        <li><a href="/posts/nearby/tagged/<%= tag.name %>"><%= tag.name %></a></li>
      <%end%>
      </ul>
      <form id="new_tag"><input type="text" id='tag' placeholder="add another tag"></input></form>
    </div>
</div>

  <script>
    $(function() {
      $("#new_tag").submit(function(e){
        var tag  = $("#tag").val();        
        $.post("/tag/<%= @post.id %>/as/"+ tag, 
        function(data){
          //success
          console.log(data)
          if (data != "") {
            $('#tags ul').append("<li><a href='/posts/nearby/tagged/"+ data+"'>" + data + "</li>")
            $("#tag").val('');
          }
        })
        e.preventDefault()
        return false;
      });
    });
  </script>
  <script>
  	$(function() {
  		var availableTags = <%= tag_list.to_json %>;
  		$( "#tag" ).autocomplete({
  			source: availableTags
  		});
  	});
  	</script>
  
<%= easy_partial 'footer' %>